<configuration debug="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="io.netty" level="ERROR"/>
    <logger name="reactor.netty" level="ERROR"/>
    <logger name="org.redisson" level="WARN"/>
    <logger name="com.microsoft.aad" level="WARN"/>
    <logger name="com.azure.identity" level="WARN"/>
    <logger name="com.azure.core" level="WARN"/>
    <logger name="com.azure.messaging.servicebus" level="INFO"/>
    <logger name="com.azure.messaging.servicebus.ServiceBusSessionReceiver" level="DEBUG"/>
    <logger name="com.azure.core.amqp.implementation" level="WARN"/>
</configuration>